# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# package files
*.egg-info
/dist/

# Jupyter Notebook
.ipynb_checkpoints

# others
/data/
/indel_realigner_test/
/sequenza_source_modified/
/tests/
/utils/
/bin/
